<div>
    <div>
        <h4 class="mt-0 mb-5" style="display: inline-block; width: 260px;">
            {{ model.title }}
        </h4>

        <div class="btn-group pull-right">
            <button type="button" class="btn btn-primary btn-outline">
                <i class="fa fa-cog"></i>
            </button>

            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-primary btn-outline dropdown-toggle"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>

            <ul class="dropdown-menu dropdown-menu-right fadeInDown animated" style="animation-duration: 0.2s; animation-delay: 0s; animation-timing-function: linear; animation-iteration-count: 1;">
                <li>
                    <a href="#" ng-click="model.openAddNewTile()">
                        <i class="fa fa-plus"></i> Add Tile
                    </a>
                </li>
            </ul>

            
        </div>
    </div>

    <!-- DashGrid -->
    <div gridster="model.gridsterOptions">
        <ul>
            <li gridster-item="widget" ng-repeat="widget in model.widgets track by widget.id">
                <widget-cell widget="widget"></widget-cell>
            </li>
        </ul>
    </div>
</div>