<div class="app-container {{ model.navbarSideExpanded }}">
    <div class="row content-container">

        <!-- navbar component -->
        <navbar-top navbar-side-expanded="model.navbarSideExpanded"
                    on-view-change="model.navbarSideExpanded = $event.navbarSideExpanded">
        </navbar-top>

        <!-- navbar side component -->
        <navbar-side></navbar-side>

        <!-- main body -->
        <div class="container-fluid">
            <div class="side-body">
                
                <ui-view></ui-view>
            </div>
        </div>
    </div>
</div>